# COVID-19 Vaccine Rollout Score
Prompt: Construct a score for how well countries are doing at their vaccine rollout for COVID-19.

In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Import dataset
df = pd.read_csv('../data/country_vaccinations.csv')
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...

In [9]:
# Group dataset by country and pull last date for each country
df_countries = df.groupby('country').max()['date'].reset_index()
df_countries

         country        date
0    Afghanistan  2021-03-16
1        Albania  2021-03-27
2        Algeria  2021-02-19
3        Andorra  2021-03-19
4         Angola  2021-03-24
..           ...         ...
149      Uruguay  2021-03-27
150    Venezuela  2021-03-04
151      Vietnam  2021-03-26
152        Wales  2021-03-26
153     Zimbabwe  2021-03-27

[154 rows x 2 columns]

In [12]:
# Merge the last date by country dataset with the original dataset to have one dataset with one entry per country (last date only)
df_last_date = pd.merge(df, df_countries, how='inner', left_on=['country', 'date'], right_on=['country', 'date'])
df_last_date.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-03-16,54000.0,54000.0,NaN,NaN,2862.0,0.14,0.14,NaN,74.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Albania,ALB,2021-03-27,64075.0,NaN,NaN,1827.0,3113.0,2.23,NaN,NaN,1082.0,Pfizer/BioNTech,Ministry of Health,https://coronavirus.al/lajme/covid19-ministria...
2,Algeria,DZA,2021-02-19,75000.0,NaN,NaN,NaN,3748.0,0.17,NaN,NaN,85.0,Sputnik V,Ministry of Health,https://www.echoroukonline.com/%d9%84%d9%82%d8...
3,Andorra,AND,2021-03-19,9288.0,NaN,NaN,NaN,428.0,12.02,NaN,NaN,5539.0,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12558-el...
4,Angola,AGO,2021-03-24,87022.0,87022.0,NaN,NaN,6044.0,0.26,0.26,NaN,184.0,Oxford/AstraZeneca,Ministry of Health,https://www.angop.ao/en/noticias/saude/covid-1...

## Total Vaccines Distributed and People Fully Vaccinated

In [16]:
df_vax_distr = df_last_date[['country', 'total_vaccinations_per_hundred', 'people_fully_vaccinated_per_hundred']]
df_vax_distr.sort_values(by='people_fully_vaccinated_per_hundred', ascending=False).head()

,country,total_vaccinations_per_hundred,people_fully_vaccinated_per_hundred
48,Gibraltar,171.10,79.26
65,Israel,114.70,54.40
125,Seychelles,98.15,33.95
24,Cayman Islands,67.04,23.52
88,Monaco,46.07,21.23

## Rate of Vaccination

## Time Until Comple